# jetbrains apps
*.iml
*.ipr
*.iws
.idea/

# osx
.DS_Store

# emacs
*~

# Microsoft Office

~$*

### ----------------------------------------------------------------------------
### Folders
### ----------------------------------------------------------------------------

# Coverage Data for example by JEST
coverage/
# Build folder used by CKEditor Tooling, especially test-scripts.
build/
# Folder we defined to contain the built artifacts.
dist/
node_modules/

# Temporary Output

*.log
*.out
*.err
tmp/
