* text=auto eol=lf

# Documents

*.docx diff=word
*.md       text diff=markdown

# Graphics

*.png      binary
*.jpg      binary
*.gif      binary
*.tif      binary
*.ico      binary
*.svg      text

# Audio

*.mp3 binary

# Scripts

*.sh       text eol=lf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation

*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text
