# jetbrains apps
*.iml
*.ipr
*.iws
.idea/
# Visual Studio Code
.vscode/

# .env file
# We need to exclude the env file because we temproally create such a file in our github actions
# The action would fail if there would still be uncommited files (like the .env file)
.env


# osx
.DS_Store

# emacs
*~

# Microsoft Office

~$*

# Git

*.orig

### ----------------------------------------------------------------------------
### Folders
### ----------------------------------------------------------------------------

# Coverage Data for example by JEST
coverage/
# Build folder used by CKEditor Tooling, especially test-scripts.
build/
# Folder we defined to contain the built artifacts.
dist/
node_modules/

# Ignore compiled TypeScript files.
**/src/**/*.js
**/src/**/*.js.map
**/src/**/*.d.ts
**/src/**/*.d.ts.map

# Ignore TypeScript Buildinfo

*.tsbuildinfo

# Temporary Output

*.log
*.out
*.err
tmp/

### ----------------------------------------------------------------------------
### PNPM
### ----------------------------------------------------------------------------

# Results from `pnpm pack` (to test packaging)
*.tgz
