;;;;
; npm config file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments
; run `npm help 7 config` for documentation of the various options
;
; Configs like `@scope:registry` map a scope to a given registry url.
;
; Configs like `//<hostname>/:_authToken` are auth that is restricted
; to the registry host specified.

loglevel=warn
;;; Registry for CoreMedia artifacts
@coremedia:registry=https://npm.coremedia.io/
;;; Using default.
; registry=https://registry.npmjs.org/
strict-ssl=false

prefer-workspace-packages=true
; This is required as we use peerDependencies which are resolved in the example app.
; If set to false the peerDependency artifacts are not downloaded to the root node_modules and can't be resolved
; from the example app as pnpm uses symlinks.
shamefully-hoist=true
