;;;;
; npm config file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments
; run `npm help 7 config` for documentation of the various options
;
; Configs like `@scope:registry` map a scope to a given registry url.
;
; Configs like `//<hostname>/:_authToken` are auth that is restricted
; to the registry host specified.

loglevel=warn
;;; Registry for CoreMedia artifacts
;;; Using default.
; registry=https://registry.npmjs.org/
strict-ssl=false

link-workspace-packages=true
prefer-workspace-packages=true
enable-pre-post-scripts=true
