div.ck-body-wrapper {
  --ck-color-button-cancel: #2689c7;
  --ck-color-button-save: #2689c7;
}

/*Example data for the icons, displayed in the ContentView*/

.cm-core-icons {
  width: 24px !important;
  padding: 4px !important;
}

.cm-core-icons::before {
  content: "_";
  width: 16px;
  height: 16px;
  border: 1px solid var(--ck-color-base-border);
}

.cm-core-icons.icon-checked-in::before {
  content: "i";
}

.cm-core-icons.icon-checked-out::before {
  content: "o";
}
.cm-core-icons.icon--folder::before {
  content: "f";
}
.cm-core-icons.icon--document::before {
  content: "d";
}
.cm-core-icons.icon-lock::before {
  content: "l";
}
