name: Unpublish Version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to unpublish'
        required: true
jobs:
  build:
    name: Unpublish Version
    env:
      NPM_CONFIG_@coremedia:registry: 'https://repository.coremedia.com/nexus/repository/coremedia-npm'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Resolve NPM_AUTH_TOKEN
        run: |
          NPM_AUTH_TOKEN=$(curl -s -H "Accept: application/json" -H "Content-Type:application/json" -X PUT --data '{"name": "${{ secrets.PLUGINS_NEXUS_USER }}", "password": "${{ secrets.PLUGINS_NEXUS_PASSWORD }}"}' https://repository.coremedia.com/nexus/repository/coremedia-npm/-/user/org.couchdb.user:${{ secrets.PLUGINS_NEXUS_USER }} | jq -r .token)
          echo "::add-mask::$NPM_AUTH_TOKEN"
          echo "NPM_CONFIG_//repository.coremedia.com/nexus/repository/coremedia-npm/:_authToken=$NPM_AUTH_TOKEN" >> $GITHUB_ENV
          echo "NPM_AUTH_TOKEN=$NPM_AUTH_TOKEN" >> $GITHUB_ENV
          echo '//repository.coremedia.com/nexus/repository/coremedia-npm/:_authToken=${NPM_AUTH_TOKEN}' > .npmrc
      - name: Unpublish release
        run: |
          version=${{ github.event.inputs.version }}
          if [[ $version != *"-"* ]]; then
            echo "$version is a release version. Only prerelease versions can be unpublished"
            exit 0
          fi

          cmcke5packages=$(npm search "@coremedia/ckeditor" --json --registry https://repository.coremedia.com/nexus/repository/coremedia-npm)
          echo "$version"
          echo "$cmcke5packages"
          for i in $(jq -r ".[].name" <(echo "$cmcke5packages"))
          do
            npm unpublish $i@$version --registry https://repository.coremedia.com/nexus/repository/coremedia-npm
          done
